body {
  background-color: #f1e1ec;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.black-key-row {
  position: absolute;
  z-index: 2;
  width: 100%;
  margin-left: -1%;
  height: 250px;
  top: 110px;
}
.white-key-row {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 110px;
}
.key {
  display: inline-block;
}
.black {
  background: #272937;
  width: 1.5%;
  height: 150px;
  margin-left: 0.25%;
  margin-right: 0.25%;
  border: 1px solid #272937;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.spacer {
  display: inline-block;
  width: 2%;
  height: 0px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.white {
  background: #faf1f9;
  width: 2%;
  height: 250px;
  border: 1px solid #272937;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pressed {
  background: #8a554e;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
